<div class="relative h-screen bg-white z-50 w-full">
  <div
    class="flex justify-between items-center bg-white p-4 border-b border-gray-200 w-full"
  >
    <div class="grid grid-cols-[40px_40px_1fr] lg:grid-cols-[40px_1fr] gap-2">
      <div
        (click)="closeChat()"
        class="lg:hidden hover:bg-gray-100 transition-all cursor-pointer w-[40px] h-[40px] rounded-full grid place-items-center"
      >
        <i class="fal fa-arrow-left font-semibold"></i>
      </div>
      <div class="w-fit h-fit rounded-full border border-gray-200">
        <img
        [src]="chatData.user.image != null ? chatData.user.image : '../../../../../assets/images/student.png'"
          alt=""
          class="w-[40px] h-[40px] rounded-full object-cover"
        />
      </div>
      <div class="">
        <h1 class="font-semibold">{{ chatData.user.name }}</h1>
        <div class="text-[12px] text-slate-500">Active now</div>
      </div>
    </div>
    <div class="">
      <i class="fal fa-elipsis"></i>
    </div>
  </div>

  <div
    class="bg-white h-[calc(100%_-_80px)] min-h-fit overflow-y-auto p-4 relative w-full pb-20"
  >
    <div
      class="msg"
      *ngFor="let message of chatData.messages; trackBy: chatTrack"
      class="gap-2"
      [ngClass]="
        message.UserId == chatData.ownId
          ? 'grid grid-cols-[100px_1fr] mb-1'
          : 'grid grid-cols-[40px_1fr] mb-1'
      "
    >
      <div
        *ngIf="message.UserId != chatData.ownId"
        class="w-fit h-fit rounded-full border border-gray-200"
      >
      <img
      [src]="chatData.user.image != null ? chatData.user.image : '../../../../../assets/images/student.png'"
        alt=""
        class="w-[40px] h-[40px] rounded-full object-cover"
      />
      </div>
      <p
        class="text-sm w-fit py-1 px-3 rounded-full h-fit break-all"
        [ngClass]="
          message.UserId == chatData.ownId
            ? 'col-start-2 justify-self-end bg-red-500 text-white'
            : 'bg-gray-100'
        "
      >
        {{ message.message }}
      </p>
    </div>
    <div class="" #scrollToBottom></div>
  </div>

  <div class="p-4 bg-white fixed w-full lg:w-[calc(100%_-_330px)] bottom-0">
    <form
      (ngSubmit)="sendMessage(); input.focus()"
      class="grid grid-cols-[1fr_40px] gap-2 items-center text-sm"
    >
      <input
        type="text"
        placeholder="Aa"
        [(ngModel)]="message"
        #input
        (click)="scroll()"
        (focus)="scroll()"
        [ngModelOptions]="{ standalone: true }"
        class="w-full bg-slate-100 py-2 px-3 rounded-full outline-none"
      />
      <button
        type="submit"
        class="hover:bg-gray-100 transition-all cursor-pointer w-[40px] h-[40px] rounded-full grid place-items-center"
      >
        <i class="fal fa-arrow-right font-semibold"></i>
      </button>
    </form>
  </div>
</div>
