<div class="text-sm w-full relative mt-10 grid gap-20 z-40">
  <div class="" *ngIf="pendingStudentApplications.length != 0">
    <h1 class="font-bold text-lg text-slate-900 mb-3">
      Account Application Request
    </h1>

    <div class="relative w-[370px] lg:w-full">
      <p-table
        [value]="pendingStudentApplications"
        #dt1
        dataKey="id"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="[
          'StudentCredential.schoolId',
          'name',
          'email',
          'StudentCredential.section',
          'StudentCredential.year',
          'StudentCredential.Course.acronym',
          'StudentCredential.verificationStatus'
        ]"
      >
        >
        <ng-template pTemplate="caption">
          <div class="flex">
            <div class=""></div>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                #textInput
                (input)="dt1.filterGlobal(textInput.value, 'contains')"
                placeholder="Search keyword"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr class="text-sm">
            <th field="StudentCredential.schoolId">Student ID</th>
            <th field="name">Name</th>
            <th field="StudentCredential.Course.acronym">Course</th>
            <th field="StudentCredential.section">Section</th>
            <th field="StudentCredential.year">Year</th>
            <th field="email">Email</th>
            <th field="StudentCredential.verificationStatus">Verification</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
          <tr class="text-sm">
            <td>{{ student.StudentCredential.schoolId }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.StudentCredential.Course.acronym }}</td>
            <td>{{ student.StudentCredential.section }}</td>
            <td>{{ student.StudentCredential.year }}</td>
            <td>{{ student.email }}</td>
            <td>
              <div
                class="bg-orange-200 text-orange-800 py-1 px-3 w-fit rounded-lg text-[12px] font-semibold capitalize"
              >
                {{ student.StudentCredential.verificationStatus }}
              </div>
            </td>
            <td>
              <div
                class="cursor-pointer"
                [routerLink]="['/admin/user']"
                [queryParams]="{ type: 'student', id: student.id }"
              >
                <i class="fad fa-eye"></i> View
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="" *ngIf="students">
    <h1 class="font-bold text-lg text-slate-900 mb-3">Student Accounts</h1>

    <div class="relative w-[370px] lg:w-full">
      <p-table
        [value]="students"
        #dt2
        dataKey="id"
        responsiveLayout="scroll"
        [autoLayout]="true"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="[
          'StudentCredential.schoolId',
          'name',
          'email',
          'StudentCredential.section',
          'StudentCredential.year',
          'StudentCredential.Course.acronym',
          'StudentCredential.verificationStatus'
        ]"
      >
        <ng-template pTemplate="caption">
          <div class="flex justify-between">
            <div class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                #textInput
                (input)="dt2.filterGlobal(textInput.value, 'contains')"
                placeholder="Search keyword"
              />
            </div>

            <div
              pButton
              class="bg-red-800 text-white font-bold hover:bg-red-800/80 transition-all py-2 px-4 rounded-md flex items-center border-red-800"
            >
              <i class="fad fa-plus-circle mr-2"></i> Create
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr class="text-sm">
            <th field="StudentCredential.schoolId">Student ID</th>
            <th field="name">Name</th>
            <th field="StudentCredential.Course.acronym">Course</th>
            <th field="StudentCredential.section">Section</th>
            <th field="StudentCredential.year">Year</th>
            <th field="email">Email</th>
            <th field="StudentCredential.verificationStatus">Verification</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
          <tr class="text-sm">
            <td>{{ student.StudentCredential.schoolId }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.StudentCredential.Course.acronym }}</td>
            <td>{{ student.StudentCredential.section }}</td>
            <td>{{ student.StudentCredential.year }}</td>
            <td>{{ student.email }}</td>
            <td>
              <div
                class="bg-green-200 text-green-800 py-1 px-3 w-fit rounded-lg text-[12px] font-semibold capitalize"
              >
                {{ student.StudentCredential.verificationStatus }}
              </div>
            </td>
            <td>
              <div
                class="cursor-pointer"
                [routerLink]="['/admin/user']"
                [queryParams]="{ id: student.id }"
              >
                <i class="fad fa-eye"></i> View
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
