<div class="border border-gray-200 rounded-md p-3 h-fit">
  <div class="flex items-center justify-between mb-3">
    <img
      src="../../../../../assets/images/invoice.png"
      alt=""
      class="w-[30px] h-[30px] object-cover"
    />
    <div class="grid grid-cols-[30px_30px] gap-2">
      <div
        (click)="downloadPdf()"
        class="bg-slate-50 w-[30px] h-[30px] grid place-items-center cursor-pointer hover:bg-slate-100 transition-all rounded-md font-semibold text-slate-800 border border-slate-200"
      >
        <i class="fad fa-download"></i>
      </div>
      <div
        [routerLink]="['/election']"
        [queryParams]="{ id: receipt.Election.id }"
        class="bg-slate-50 w-[30px] h-[30px] grid place-items-center cursor-pointer hover:bg-slate-100 transition-all rounded-md font-semibold text-slate-800 border border-slate-200"
      >
        <i class="fad fa-external-link"></i>
      </div>
    </div>
  </div>

  <h1 class="font-semibold text-slate-900 text-lg mb-1">
    {{ receipt.Election.title }}
  </h1>

  <div class="">
    <p class="text-[12px]">{{ receipt.Election.description }}</p>

    <div class="mt-5">
      <h2 class="text-[12px] mb-1">Restrictions</h2>

      <div class="bg-slate-50 p-1 w-full rounded-md">
        <table class="border border-gray-300">
          <tr>
            <td class="border border-gray-300 p-1 px-2 text-[12px]">
              Course:
            </td>
            <td
              class="border border-gray-300 p-1 px-2 text-[12px] w-full"
            >
              {{
                receipt.Election.course == 0
                  ? "All Courses"
                  : getCourse(1, receipt.Election.course)
              }}
            </td>
          </tr>
          <tr>
            <td class="border border-gray-300 p-1 px-2 text-[12px]">
              Section:
            </td>
            <td class="border border-gray-300 p-1 px-2 text-[12px]">
              {{
                receipt.Election.section == 0
                  ? "All Sections"
                  : receipt.Election.section
              }}
            </td>
          </tr>
          <tr>
            <td class="border border-gray-300 p-1 px-2 text-[12px]">
              Year:
            </td>
            <td class="border border-gray-300 p-1 px-2 text-[12px]">
              {{
                receipt.Election.year == 0 ? "All Year Levels" : receipt.Election.year
              }}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="flex justify-between mt-4">
      <div class=""></div>
      <p class="text-[11px]">
        Date voted:
        <span
          class="bg-slate-50 px-2 py-[2px] text-[10px] border border-gray-200 rounded-md"
          >{{ dateFormat(receipt.createdAt) }}</span
        >
      </p>
    </div>
  </div>

  <hr class="mb-4 mt-2" />

  <div class="grid gap-3">
    <div *ngFor="let position of receipt.Election.ElectionPositions" class="">
      <div class="" *ngIf="position.ElectionCandidates.length != 0">
        <div class="mb-[2px]">
          <h2 class="font-semibold text-slate-900 text-md">
            {{ position.allowedCourse != 0 ? getCourse(2, profile.StudentCredential.CourseId) : '' }} {{ position.title }}
          </h2>
        </div>

        <div class="bg-slate-50 grid h-fit p-1 rounded-md">
          <div *ngFor="let candidate of position.ElectionCandidates" class="">
            <div
              *ngIf="candidate.ElectionVotes.length != 0"
              class="p-1 mb-1 bg-white rounded-md shadow-sm border boder-gray-100"
            >
              <div class="grid grid-cols-[35px_1fr] gap-2">
                <div
                  class="border border-gray-200 w-[35px] h-[35px] rounded-full"
                >
                  <img
                    [src]="
                      candidate.User.image == null
                        ? '../../../../../assets/images/student.png'
                        : candidate.User.image
                    "
                    alt=""
                    class="w-[35px] h-[35px] rounded-full object-cover"
                  />
                </div>
                <div class="">
                  <h4 class="font-semibold text-[11px] capitalize">
                    {{ candidate.User.name }}
                  </h4>
                  <p class="text-[10px]">
                    {{ candidate.User.StudentCredential.Course.acronym }}
                    {{ candidate.User.StudentCredential.year
                    }}{{ candidate.User.StudentCredential.section }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed -right-[1000px]" [id]="receipt.Election.id">
  <div class="p-8 w-[800px]">
    <div class="">
      <div class="flex justify-between items-center">
        <img
          src="../../../../../assets/logo/evsu_logo_3.png"
          alt=""
          class="w-[100px] h-[100px] object-cover"
        />
        <h1 class="font-semibold">
          EVSU Elections <span class="text-slate-500">- Vote Receipt</span>
        </h1>
        <div class=""></div>
      </div>

      <div class="mt-6">
        <div class="">
          <div class="">
            <h1 class="text-4xl font-semibold mb-2">
              {{ receipt.Election.title }}
            </h1>
            <p class="text-sm">{{ receipt.Election.description }}</p>
          </div>

          <div class="mt-8">
            <h2 class="text-sm mb-3">Restrictions</h2>

            <div class="">
              <table class="border border-gray-300">
                <tr>
                  <td class="border border-gray-300 pb-3 px-2 text-sm">
                    Course:
                  </td>
                  <td class="border border-gray-300 pb-3 px-2 text-sm">
                    {{
                      receipt.Election.course == 0
                        ? "All Courses"
                        : getCourse(1, receipt.Election.course)
                    }}
                  </td>
                </tr>
                <tr>
                  <td class="border border-gray-300 pb-3 px-2 text-sm">
                    Section:
                  </td>
                  <td class="border border-gray-300 pb-3 px-2 text-sm">
                    {{
                      receipt.Election.section == 0
                        ? "All Sections"
                        : receipt.Election.section
                    }}
                  </td>
                </tr>
                <tr>
                  <td class="border border-gray-300 pb-3 px-2 text-sm">
                    Year:
                  </td>
                  <td class="border border-gray-300 pb-3 px-2 text-sm">
                    {{
                      receipt.Election.year == 0
                        ? "All Year Levels"
                        : receipt.Election.year
                    }}
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="mt-3 mb-2 px-1 md w-fit">
            <span class="text-sm capitalize mr-1"> {{ profile.name }}</span
            ><span class="text-sm"
              >{{ getCourse(2, profile.StudentCredential.CourseId) }}
              {{ profile.StudentCredential.year
              }}{{ profile.StudentCredential.section }}</span
            >
          </div>
          <p class="text-sm my-2 mb-5 px-1">
            Date voted: {{ dateFormat(receipt.createdAt) }}
          </p>
        </div>

        <hr class="my-5" />

        <div class="mt-5">
          <h1 class="font-semibold mb-8 text-base">Voted Candidates</h1>

          <div class="grid gap-2">
            <div
              *ngFor="let position of receipt.Election.ElectionPositions"
              class=""
            >
              <div
                class="bg-slate-100 text-base text-slate-800 px-4 pb-4 w-fit font-semibold"
              >
                {{ position.title }}
              </div>

              <div class="grid gap-3">
                <div
                  *ngFor="let candidate of position.ElectionCandidates"
                  class=""
                >
                  <div
                    *ngIf="candidate.ElectionVotes.length != 0"
                    class="ml-2 text-sm"
                  >
                    <span class="text-[10px]">⬤</span>
                    <span class="capitalize"> {{ candidate.User.name }}</span> -
                    {{
                      getCourse(2, candidate.User.StudentCredential.CourseId)
                    }}
                    {{ candidate.User.StudentCredential.year
                    }}{{ candidate.User.StudentCredential.section }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
