<div class="relative z-40 mt-20 pb-20">
  <h1 class="font-bold text-xl md:text-3xl text-white">Polls</h1>

  <div class="mt-20 pb-10">
    <div class="flex justify-between items-center">
      <div class=""></div>
      <button
        class="bg-red-800 text-white text-sm font-semibold py-3 px-5 rounded-3xl hover:bg-red-900 cursor-pointer transition-all"
      >
        Create Poll
      </button>
    </div>

    <div class="mt-10 grid gap-3">
      <div class="p-5 rounded-xl border border-slate-200 shadow-sm">
        <div class="">
          <div
            class="text-[12px] font-semibold bg-slate-100 text-gray-800 rounded-2xl w-fit py-1 px-3"
          >
            Faculty
          </div>
        </div>

        <div class="">
          <div class="my-5 font-semibold">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum
            modi, veniam aperiam odit repudiandae rem magnam placeat ipsam
            facere accusamus?
          </div>

          <div class="grid gap-2">
            <div
              class="text-sm bg-slate-100 border border-gray-100 py-2 px-3 font-semibold rounded-md text-gray-800"
            >
              True
            </div>
            <div
              class="text-sm bg-slate-100 border border-gray-100 py-2 px-3 font-semibold rounded-md text-gray-800"
            >
              False
            </div>
          </div>
        </div>

        <div class="flex items-center justify-between mt-5">
          <div class="text-[12px]">
            Poll will expire by February 12, 2002, 2:30 PM
          </div>
          <div class=""></div>
        </div>
      </div>

      <div class="p-5 rounded-xl border border-slate-200 shadow-sm">
        <div class="">
          <div
            class="text-[12px] font-semibold bg-slate-100 text-gray-800 rounded-2xl w-fit py-1 px-3"
          >
            Faculty
          </div>
        </div>

        <div class="">
          <div class="my-5 font-semibold">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum
            modi, veniam aperiam odit repudiandae rem magnam placeat ipsam
            facere accusamus?
          </div>

          <div class="grid gap-2">
            <div
              class="text-sm bg-slate-100 border border-gray-100 py-2 px-3 font-semibold rounded-md text-gray-800"
            >
              True
            </div>
            <div
              class="text-sm bg-slate-100 border border-gray-100 py-2 px-3 font-semibold rounded-md text-gray-800"
            >
              False
            </div>
          </div>
        </div>

        <div class="flex items-center justify-between mt-5">
          <div class="text-[12px]">
            Poll will expire by February 12, 2002, 2:30 PM
          </div>
          <div class=""></div>
        </div>
      </div>
    </div>
  </div>
</div>
