
<div class="bg-white min-h-fit h-screen p-6 border-r border-gray-200 hidden lg:block">

  <div class="grid gap-1 mt-16">
    <div class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"><i class="fal fa-chart-line"></i> Dashboard</div>
    <div class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"><i class="fal fa-box-ballot"></i> Election</div>
    <div class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"><i class="fal fa-ad"></i> Campaign</div>
    <div class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"><i class="fal fa-retweet"></i> Tweets</div>
    <div class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"><i class="fal fa-poll-people"></i> Polls</div>
    <div class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"><i class="fal fa-receipt"></i> Vote Receipts</div>
    <div class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"><i class="fal fa-pallet"></i> Logs</div>
    <div class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"><i class="fal fa-heart-rate"></i> Live Updates</div>
    <div class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"><i class="fal fa-comment"></i> Feedbacks</div>
    <div class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"><i class="fal fa-info-circle"></i> About</div>
  </div>
</div>
