<div
  class="bg-white min-h-fit h-screen p-6 border-r border-gray-200 hidden lg:block"
>
  <div class="grid gap-1 mt-20">
    <div
      (click)="getCurrentRouteURL('')"
      class="hover:bg-red-400/80 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
      routerLink="/"
      [ngClass]="
        currentRoute == '/'
          ? 'bg-red-400 hover:bg-red-400 text-white py-2 px-3'
          : 'px-2'
      "
    >
      <i class="fal fa-chart-line"></i> Dashboard
    </div>
    <div
      (click)="getCurrentRouteURL('election')"
      class="hover:bg-red-400/80 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
      routerLink="/election"
      [ngClass]="
        currentRoute == 'elections'
          ? 'bg-red-400 hover:bg-red-400 text-white py-2 px-3'
          : 'px-2'
      "
    >
      <i class="fal fa-box-ballot"></i> Election
    </div>
    <div
      (click)="getCurrentRouteURL('campaign')"
      class="hover:bg-red-400/80 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
      routerLink="/campaign"
      [ngClass]="
        currentRoute == 'campaign'
          ? 'bg-red-400 hover:bg-red-400 text-white py-2 px-3'
          : 'px-2'
      "
    >
      <i class="fal fa-ad"></i> Campaign
    </div>
    <div
      (click)="getCurrentRouteURL('tweets')"
      class="hover:bg-red-400/80 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
      routerLink="/tweets"
      [ngClass]="
        currentRoute == 'tweets'
          ? 'bg-red-400 hover:bg-red-400 text-white py-2 px-3'
          : 'px-2'
      "
    >
      <i class="fal fa-retweet"></i> Tweets
    </div>
    <div
      (click)="getCurrentRouteURL('polls')"
      class="hover:bg-red-400/80 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
      routerLink="/polls"
      [ngClass]="
        currentRoute == 'polls'
          ? 'bg-red-400 hover:bg-red-400 text-white py-2 px-3'
          : 'px-2'
      "
    >
      <i class="fal fa-poll-people"></i> Polls
    </div>
    <div
      (click)="getCurrentRouteURL('receipts')"
      class="hover:bg-red-400/80 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
      routerLink="/receipts"
      [ngClass]="
        currentRoute == 'receipts'
          ? 'bg-red-400 hover:bg-red-400 text-white py-2 px-3'
          : 'px-2'
      "
    >
      <i class="fal fa-receipt"></i> Vote Receipts
    </div>
    <div
      (click)="getCurrentRouteURL('logs')"
      class="hover:bg-red-400/80 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
      routerLink="/logs"
      [ngClass]="
        currentRoute == 'logs'
          ? 'bg-red-400 hover:bg-red-400 text-white py-2 px-3'
          : 'px-2'
      "
    >
      <i class="fal fa-pallet"></i> Logs
    </div>
    <div
      (click)="getCurrentRouteURL('updates')"
      class="hover:bg-red-400/80 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
      routerLink="/updates"
      [ngClass]="
        currentRoute == 'updates'
          ? 'bg-red-400 hover:bg-red-400 text-white py-2 px-3'
          : 'px-2'
      "
    >
      <i class="fal fa-heart-rate"></i> Live Updates
    </div>
    <div
      (click)="getCurrentRouteURL('feedbacks')"
      class="hover:bg-red-400/80 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
      routerLink="/feedbacks"
      [ngClass]="
        currentRoute == 'feedbacks'
          ? 'bg-red-400 hover:bg-red-400 text-white py-2 px-3'
          : 'px-2'
      "
    >
      <i class="fal fa-comment"></i> Feedbacks
    </div>
    <div
      (click)="getCurrentRouteURL('about')"
      class="hover:bg-red-400/80 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
      routerLink="/about"
      [ngClass]="
        currentRoute == 'about'
          ? 'bg-red-400 hover:bg-red-400 text-white py-2 px-3'
          : 'px-2'
      "
    >
      <i class="fal fa-info-circle"></i> About
    </div>
  </div>
</div>
