<div class="">
  <div class="">
    <div
      class="lg:hidden bg-white flex justify-between items-center p-3 border-b border-gray-300"
    >
      <div class="flex items-center">
        <img
          src="../../../../../assets/logo/evsu_logo_3.png"
          alt=""
          class="w-[30px] mr-2"
        />
        <h1 class="font-semibold">Election</h1>
      </div>

      <div class="flex items-center">
        <div class="mr-3">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
            alt=""
            class="w-[30px] object-cover rounded-full"
          />
        </div>
        <div class="p-2 cursor-pointer" (click)="openCloseNavOverlay()">
          <i class="fal fa-bars text-[20px]"></i>
        </div>
      </div>
    </div>

    <div class="md:hidden" [ngClass]="isNavOpen ? 'block' : 'hidden'">
      <div class="bg-gray-600 opacity-20 w-full h-full fixed top-0"></div>

      <div class="w-[300px] bg-white h-full fixed top-0 right-0 p-4">
        <div class="flex items-center justify-between">
          <div class=""></div>
          <i
            class="fal fa-times text-[20px] cursor-pointer"
            (click)="openCloseNavOverlay()"
          ></i>
        </div>

        <div class="grid gap-1 mt-4">
          <div
            class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
          >
            <i class="fal fa-chart-line"></i> Dashboard
          </div>
          <div
            class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
          >
            <i class="fal fa-box-ballot"></i> Election
          </div>
          <div
            class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
          >
            <i class="fal fa-ad"></i> Campaign
          </div>
          <div
            class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
          >
            <i class="fal fa-retweet"></i> Tweets
          </div>
          <div
            class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
          >
            <i class="fal fa-poll-people"></i> Polls
          </div>
          <div
            class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
          >
            <i class="fal fa-receipt"></i> Vote Receipts
          </div>
          <div
            class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
          >
            <i class="fal fa-pallet"></i> Logs
          </div>
          <div
            class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
          >
            <i class="fal fa-heart-rate"></i> Live Updates
          </div>
          <div
            class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
          >
            <i class="fal fa-comment"></i> Feedbacks
          </div>
          <div
            class="hover:bg-red-400 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
          >
            <i class="fal fa-info-circle"></i> About
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden lg:block fixed w-full bg-white border-b border-gray-200">
    <div class="flex justify-between items-center p-2 px-5">
      <div class="flex items-center">
        <img
          src="../../../../../assets/logo/evsu_logo_3.png"
          alt=""
          class="w-[30px] mr-2"
        />
        <h1 class="font-semibold">Election</h1>
      </div>

      <div class="grid grid-cols-[40px_1fr] items-center place-items-center">
        <div class="">
          <i class="fal fa-bell text-[20px]"></i>
        </div>
        <div class="flex items-center hover:bg-gray-200 py-1 px-3 rounded-xl cursor-pointer transition-all">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
            alt=""
            class="w-[30px] h-[30px] object-cover rounded-full mr-2"
          />
          <div class="">
            <h2 class="font-semibold text-slate-800">Christian Paranas</h2>
            <p class="text-[12px] text-slate-700">Student</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
