<div class="w-full relative">
  <div class="">
    <div
      class="lg:hidden flex justify-between items-center px-5 py-3 fixed w-full"
      [ngClass]="{ 'bg-white shadow-md': onScroll }"
    >
      <div class="flex items-center">
        <img
          src="../../../../../assets/logo/evsu_logo_3.png"
          alt=""
          class="w-[30px] mr-2"
        />
        <h1 class="font-semibold">Election</h1>
      </div>

      <div class="flex items-center">
        <div class="mr-3">
          <img
            src="https://avatars.githubusercontent.com/u/59472122?v=4"
            alt=""
            class="w-[35px] object-cover rounded-full"
          />
        </div>
        <div class="p-2 cursor-pointer" (click)="openCloseNavOverlay()">
          <i class="fal fa-bars text-[20px]"></i>
        </div>
      </div>
    </div>

    <div
      class="md:hidden transition-all"
      [ngClass]="isNavOpen ? 'block' : 'hidden'"
    >
      <div
        class="bg-gray-600 opacity-20 w-full h-full fixed top-0"
        (click)="openCloseNavOverlay()"
      ></div>

      <div class="w-[300px] bg-white h-full fixed top-0 right-0">
        <div class="flex items-center justify-between p-5">
          <div class=""></div>
          <i
            class="fal fa-times text-[20px] cursor-pointer px-3"
            (click)="openCloseNavOverlay()"
          ></i>
        </div>

        <div class="grid gap-1 mt-2">
          <div class="grid gap-1 mt-6">
            <div
              *ngFor="let route of routesArr"
              class="text-slate-800 py-2 px-6 transition-all cursor-pointer border-l-4 border-white hover:text-red-500 font-semibold grid grid-cols-[35px_1fr] items-center"
              [routerLink]="'/' + route.route"
              (click)="getCurrentRouteURL(route.route)"
              [ngClass]="
                currentRoute == route.route
                  ? 'border-red-500 text-red-600'
                  : 'text-slate-800'
              "
            >
              <i [class]="route.icon"></i> {{ route.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden lg:block fixed w-full bg-transparent z-20">
    <div class="w-[calc(100%_-_280px)] flex justify-between items-center p-5 pb-3">
      <div class="flex items-center">
        <h1 class="mr-6">Student Panel</h1>

        <div class="relative">
          <input type="text" class="bg-white shadow-sm p-2 pl-8 outline-none text-sm rounded-md" placeholder="Search" />
          <i class="fal fa-search absolute left-2 top-2 text-sm"></i>
        </div>
      </div>

      <div class="flex items-center cursor-pointer">
        <h1 class="font-semibold mr-2">Hi, Christian</h1>
        <img src="https://avatars.githubusercontent.com/u/59472122?v=4" alt="" class="w-[35px] h-[35px] object-cover rounded-full shadow-md">
      </div>
    </div>
  </div>
</div>
