<div class="">
  <h1>About</h1>


  <div class="mt-24">
    <h2 class="font-bold text-xl md:text-2xl mb-8">Programmers</h2>

    <div class="grid lg:flex gap-10">
      <div class="bg-white p-5 px-6 shadow-sm rounded-lg">
        <div class="bg-slate-100 w-fit rounded-full h-[180px] mx-auto">
          <img src="../../../../../assets/images/student.png" alt="" class="w-[180px] h-[180px] object-cover rounded-full">
        </div>
        <h2 class="text-center mt-4 font-medium">Shiela Mae Narido</h2>
      </div>

      <div class="bg-white p-5 px-6 shadow-sm rounded-lg">
        <div class="bg-slate-100 w-fit rounded-full h-[180px] mx-auto">
          <img src="../../../../../assets/images/student.png" alt="" class="w-[180px] h-[180px] object-cover rounded-full">
        </div>
        <h2 class="text-center mt-4 font-medium">Luigi Loreno</h2>
      </div>

      <div class="bg-white p-5 px-6 shadow-sm rounded-lg">
        <div class="bg-slate-100 w-fit rounded-full h-[180px] mx-auto">
          <img src="../../../../../assets/images/student.png" alt="" class="w-[180px] h-[180px] object-cover rounded-full">
        </div>
        <h2 class="text-center mt-4 font-medium">Christian Paranas</h2>
      </div>

    </div>
  </div>
</div>