<div class="relative z-40 mt-20 pb-20">
  <h1 class="font-bold text-xl md:text-3xl text-white">About</h1>

  <div class="mt-20 pb-10">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis
    nesciunt et iure porro adipisci, placeat eligendi delectus voluptatem quia
    ipsam possimus, exercitationem illo architecto voluptatum consectetur
    perferendis minima tempore sed maxime eveniet sapiente. Nam eveniet,
    voluptates eos tempore necessitatibus, consequatur ex voluptate atque
    excepturi unde quidem, repellendus consectetur perferendis deleniti at?
    Perspiciatis necessitatibus dolorum porro omnis tempore vero minima, a
    impedit maiores. Quas saepe eligendi, nostrum tenetur commodi nisi
    consectetur sit ipsam voluptatibus dolor culpa, quis repellendus minus eos
    obcaecati facilis eaque eum quidem sed? Fugit sunt eligendi voluptates eius
    fugiat, beatae aliquam autem vitae dolorum officiis culpa commodi!
  </div>

  <hr>

  <div class="mt-24 pb-10">
    <h2 class="font-semibold text-lg md:text-xl mb-5 text-slate-800">Programmers</h2>

    <div class="grid grid-cols-2 lg:flex gap-5">
      <div class="py-5 rounded-lg">
        <div class=" w-fit rounded-full h-fit mx-auto p-1 border-4 border-gray-200">
          <img
            src="https://avatars.githubusercontent.com/u/89240695?v=4"
            alt=""
            class="w-[80px] md:w-[150px] md:h-[150px] object-cover rounded-full"
          />
        </div>
        <h2 class="text-center mt-4 font-medium text-[12px] md:text-[15px]">
          Shiela Mae Narido
        </h2>
      </div>

      <div class="py-5 rounded-lg">
        <div class=" w-fit rounded-full h-fit mx-auto p-1 border-4 border-gray-200">
          <img
            src="https://avatars.githubusercontent.com/u/73870953?v=4"
            alt=""
            class="w-[80px] md:w-[150px] md:h-[150px] object-cover rounded-full"
          />
        </div>
        <h2 class="text-center mt-4 font-medium text-[12px] md:text-[15px]">
          Luigi Loreno
        </h2>
      </div>

      <div class="py-5 rounded-lg col-span-2">
        <div class=" w-fit rounded-full h-fit mx-auto p-1 border-4 border-gray-200">
          <img
            src="https://avatars.githubusercontent.com/u/59472122?v=4"
            alt=""
            class="w-[80px] md:w-[150px] md:h-[150px] object-cover rounded-full"
          />
        </div>
        <h2 class="text-center mt-4 font-medium text-[12px] md:text-[15px]">
          Christian Paranas
        </h2>
      </div>
    </div>
  </div>

  <hr>

  <div class="mt-24">
    <div class="">
      <h1 class="font-semibold text-lg md:text-xl text-slate-800">Rate this system</h1>
      <p class="text-[15px]">Tell others what you think</p>
    </div>
  </div>
</div>
