<div class="relative z-40 mt-20 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-white">Logs</h1>
    <p class="text-slate-100 text-[12px]">Activity logs in the system</p>
  </div>

  <div class="mt-20 pb-10">
    <p-tabMenu
      #tab
      [model]="tabItems"
      [activeItem]="activeItem"
      (click)="changeTab(tab)"
    ></p-tabMenu>

    <div class="w-full">
      <div *ngIf="activeItem.label == 'System'">
        <div class="mt-10">
          <div class="grid gap-2">
            <div
              *ngFor="let log of allLogs; trackBy: logTrack"
              class="bg-slate-50 rounded-md py-2 px-3 cursor-pointer hover:bg-slate-100 transition-all"
            >
              <div class="text-[10px]">{{ dateFormat(log.createdAt) }}</div>
              <div class="flex items-center text-[12px]">
                <div class="flex items-center">
                  <div class="font-semibold mr-1">{{ log.User.name }}</div>
                  <div class="text-[8px] flex items-center">
                    <div
                      *ngFor="let role of log.User.UserRoles"
                      class="bg-green-200 text-green-800 font-semibold px-1 h-fit py-0 rounded-lg mr-1"
                    >
                      {{ role.Role.title }}
                    </div>
                  </div>
                </div>
                <span class="mx-1 hidden md:block">-</span>
                <div class="">{{ log.description }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="activeItem.label == 'User'">
        <div class="mt-10">
          <p-timeline [value]="logs" align="left">
            <ng-template pTemplate="content" let-log>
              <div class="mb-3">
                <div class="text-[12px]">{{ dateFormat(log.createdAt) }}</div>
                <div class="text-sm">{{ log.description }}</div>
              </div>
            </ng-template>
          </p-timeline>
        </div>
      </div>
    </div>
  </div>
</div>
