<div class="">
  <div class="mt-10">
    <h1 class="font-bold text-2xl">Hello, Christian</h1>
    <p class="text-[14px]">Welcome!</p>
  </div>

  <div class="">
    <div class="grid grid-cols-[1fr_1fr] gap-6 mt-8">
      <div class="flex flex-col gap-6">
        <div class="bg-white shadow-sm p-5 h-[100px] rounded-2xl">d</div>
        <div class="bg-white shadow-sm p-5 h-[150px] rounded-2xl">d</div>
      </div>
      <div class="flex flex-col gap-6">
        <div class="bg-white shadow-sm p-5 h-[130px] rounded-2xl">d</div>
        <div class="bg-white shadow-sm p-5 h-[100px] rounded-2xl">d</div>
      </div>
    </div>
  </div>
</div>
