<div class="relative z-40 mt-20 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-white">Polls</h1>
    <p class="text-slate-100 text-[12px]">Lorem ipsum</p>
  </div>

  <div class="mt-20 pb-10">
    <div class="flex justify-between items-center">
      <div class=""></div>
      <div class=""></div>
    </div>

    <div *ngIf="isLoading" class="grid md:grid-cols-2 gap-3 mt-20">
      <p-skeleton
        width="100%"
        height="180px"
        *ngFor="let arr of ['', '', '', '', '', '']"
      ></p-skeleton>
    </div>


    <div class="flex justify-between items-center">
      <div class="inline-block relative w-fit">
        <select
          class="text-sm block cursor-pointer appearance-none w-full relative rounded-xl border-2 border-gray-100 px-4 py-2 pr-8 outline-none bg-white hover:bg-slate-50 transition-all"
        >
          <option>All Polls</option>
          <option>Active Polls</option>
          <option>Inactive Polls</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
      <div class=""></div>
    </div>

    
    <div
      *ngIf="!isLoading && polls.length == 0"
      class="grid place-items-center mt-20"
    >
      <div class="">
        <img
          src="../../../../../assets/images/empty-box.png"
          alt=""
          class="w-[150px] md:w-[200px] object-cover mx-auto"
        />
        <h1 class="text-center mt-10 font-semibold text-slate-800">
          No polls.
        </h1>
      </div>
    </div>

    <div *ngIf="!isLoading && polls" class="mt-10 grid gap-3 md:grid-cols-2">
      <div
        *ngFor="let poll of polls"
        class="grid divide-y p-4 shadow-sm relative rounded-xl border-2 border-gray-100 h-fit"
      >
        <div class="pb-2">

          <h1 class="text-lg font-bold text-slate-800">{{ poll.title }}</h1>
          <p class="text-sm text-slate-800">
            {{ poll.description }}
          </p>

          <div class="grid items-center mt-3">
            <div class="text-[12px]">
              <fieldset
                class="border border-solid border-gray-200 p-2 pb-3 pl-4 rounded-md"
              >
                <legend class="px-1">Restrictions</legend>

                <div class="">
                  <div class="">
                    Course:
                    {{
                      poll.course == 0 ? "All Courses" : getCourse(poll.course)
                    }}
                  </div>
                  <div class="">
                    Section:
                    {{ poll.section == 0 ? "All section" : poll.section }}
                  </div>
                  <div class="">
                    Year level:
                    {{ poll.year == 0 ? "All year levels" : poll.year }}
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="mt-2 lg:flex lg:justify-between">
              <div class="">
                <div
                  *ngIf="poll.published"
                  class="flex items-center text-[10px] text-white font-semibold bg-slate-700 px-2 py-1 rounded-md w-[200px] min-w-fit"
                >
                  <div class="mr-2">Ends:</div>
                  <div class="text-sm">
                    <app-countdown
                      [expires]="poll.endsAt"
                      [style]="{
                        title: 'text-[10px]',
                        span: 'text-[8px] text-slate-200'
                      }"
                    ></app-countdown>
                  </div>
                </div>
                <div
                  *ngIf="!poll.published"
                  class="text-[10px] text-white font-semibold bg-red-500 px-2 py-1 rounded-md w-fit"
                >
                  Ended
                </div>
              </div>
              <div class="text-[12px] text-slate-800 mt-2 lg:mt-0">
                Posted: {{ dateFormat(poll.createdAt) }}
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="my-5 ml-2 font-semibold text-slate-800">
            {{ poll.PollQuestion.question }}
          </div>

          <div class="grid gap-1">
            <div
              *ngFor="let answer of poll.PollQuestion.PollAnswers"
              class="flex justify-between items-center text-[12px] py-3 px-4 font-semibold rounded-xl text-slate-800 bg-gray-50 border border-gray-100"
            >
              <div class="capitalize">{{ answer.answer }}</div>
              <div class="">
                {{
                  answer.PollVotes.length > 0
                    ? answer.PollVotes.length > 1
                      ? answer.PollVotes.length + " votes"
                      : answer.PollVotes.length + " vote"
                    : ""
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
