<div *ngIf="tweetCommentsModal" class="relative z-50">
  <p-dialog
    header="Comments"
    [(visible)]="tweetCommentsModal"
    [modal]="true"
    [style]="{ maxWidth: '400px', width: '400px' }"
  >
    <div class="">
      <div
        class="border-y border-gray-200 mb-2 min-h-[250px] max-h-[250px] overflow-y-auto py-2"
      >
        <div
          *ngIf="comments.length == 0"
          class="text-sm grid place-items-center pt-5"
        >
          <div class="">
            <img
              src="../../../../../assets/images/empty-box.png"
              alt=""
              class="w-[100px] h-[100px]"
            />
            <p>No comments yet.</p>
          </div>
        </div>

        <div *ngIf="comments" class="">
          <div
            *ngFor="let com of comments; trackBy: commentTrack"
            class="grid grid-cols-[40px_1fr] gap-1 h-fit mb-2 mr-1"
          >
            <div class="w-fit h-fit bg-slate-100 rounded-full">
              <img
                src="../../../../../assets/images/student.png"
                alt=""
                class="w-[40px] h-[40px] rounded-full"
              />
            </div>

            <div class="bg-slate-50 text-sm p-2">
              <div class="">
                <h1 class="font-semibold">
                  {{ com.Student.firstName }} {{ com.Student.lastName }}
                </h1>
                <p class="text-[11px] text-slate-700/80">
                  {{ dateFormat(com.createdAt) }}
                </p>
              </div>

              <div class="mt-2">{{ com.content }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative w-full">
        <input
          type="text"
          [(ngModel)]="comment"
          placeholder="Write a comment"
          class="bg-slate-100 py-3 pb-4 pl-3 pr-[55px] rounded-md outline-none text-sm w-full"
        />
        <div
          (click)="postComment()"
          class="absolute right-1 top-1 hover:bg-slate-200 transition-all w-[40px] h-[40px] rounded-full grid place-items-center cursor-pointer"
        >
          <i class="fal fa-paper-plane"></i>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<div class="relative z-40 mt-20 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-white">Tweets</h1>
    <p class="text-slate-100 text-[12px]">Share your thoughts</p>
  </div>

  <div class="mt-10 grid lg:grid-cols-[1fr_300px] rounded-t-3xl gap-10">
    <div class="">
      <div class="grid grid-cols-[40px_1fr] gap-3 relative md:p-5">
        <div class="bg-slate-100 w-fit h-fit rounded-full">
          <img
            src="../../../../../assets/images/student.png"
            class="w-[40px] h-[40px] rounded-full"
            alt=""
          />
        </div>

        <textarea
          [(ngModel)]="tweet"
          rows="5"
          class="bg-slate-50/80 resize-none outline-none text-sm p-5 border border-gray-100 rounded-xl"
          placeholder="What's happening?"
        ></textarea>
        <button
          (click)="postTweet()"
          [disabled]="submitLoading"
          class="grid place-items-center items-center absolute -bottom-3 right-2 lg:right-8 lg:bottom-2 text-sm bg-red-800 font-semibold text-white hover:bg-red-800/80 transition-all px-5 py-2 rounded-3xl"
        >
          <div class="flex items-center w-fit mx-autoo" *ngIf="submitLoading">
            <svg
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>

            <span>Tweeting...</span>
          </div>

          <span *ngIf="!submitLoading">Tweet</span>
        </button>
      </div>

      <div *ngIf="!isLoading" class="grid gap-3 mt-20">
        <p-skeleton
          width="100%"
          height="180px"
          *ngFor="let arr of ['', '', '']"
        ></p-skeleton>
      </div>

      <div
        *ngIf="isLoading && tweets.length == 0"
        class="grid place-items-center mt-10"
      >
        <div class="">
          <img
            src="../../../../../assets/images/empty-box.png"
            alt=""
            class="w-[300px] object-cover"
          />
          <h1 class="text-center mt-10 font-semibold text-slate-800">
            No tweets yet.
          </h1>
        </div>
      </div>

      <div *ngIf="isLoading && user" class="mt-20 pb-10 grid gap-2">
        <div
          *ngFor="let tweet of tweets"
          class="p-5 pb-2 rounded-xl border border-gray-200"
        >
          <div class="">
            <div class="grid grid-cols-[40px_1fr] gap-2 items-center">
              <div class="bg-slate-100 w-fit h-fit rounded-full">
                <img
                  src="../../../../../assets/images/student.png"
                  class="w-[40px] h-[40px] rounded-full"
                  alt=""
                />
              </div>
              <div class="">
                <div class="font-semibold">
                  {{ tweet.Student.firstName }} {{ tweet.Student.lastName }}
                </div>
                <p class="text-[12px]">{{ dateFormat(tweet.createdAt) }}</p>
              </div>
            </div>

            <div class="mt-3 text-sm whitespace-pre">
              {{ tweet.message }}
            </div>
          </div>

          <div class="mt-5 flex items-center">
            <div *ngIf="tweet.reactCount > 0" class="text-[12px]">
              {{ tweet.reactCount }}
              {{ tweet.reactCount > 1 ? "likes" : "like" }}
            </div>

            <span
              *ngIf="tweet.reactCount > 0 && tweet.TweetComments.length > 0"
              class="mx-2 text-[12px]"
              >&#183;</span
            >
            <div *ngIf="tweet.TweetComments.length > 0" class="text-[12px]">
              {{ tweet.TweetComments.length }}
              {{ tweet.TweetComments.length > 1 ? "comments" : "comment" }}
            </div>
          </div>

          <div class="flex items-center text-sm border-t border-gray-100 pt-2">
            <div
              *ngIf="checkReactors(tweet.TweetReactors)"
              (click)="reactTweet(tweet.id)"
              class="text-white font-semibold mr-2 cursor-pointer bg-red-500 hover:bg-red-600 w-[30px] h-[30px] rounded-full grid place-items-center transition-all"
            >
              <i class="fal fa-heart"></i>
            </div>

            <div
              *ngIf="!checkReactors(tweet.TweetReactors)"
              (click)="reactTweet(tweet.id)"
              class="mr-2 cursor-pointer hover:bg-gray-200 w-[30px] h-[30px] rounded-full grid place-items-center transition-all"
            >
              <i class="fal fa-heart"></i>
            </div>

            <div
              (click)="openCommentModal(tweet.id)"
              class="cursor-pointer hover:bg-gray-200 w-fit px-4 h-[30px] rounded-full grid place-items-center transition-all"
            >
              <div class="flex items-center">
                <i class="fal fa-comment mr-1"></i>
                Comment
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-5 hidden lg:block">
      <h2>People</h2>

      <div class="bg-slate-50 rounded-md mt-3">
        <div
          class="grid grid-cols-[40px_1fr] gap-2 items-center p-2 px-3 rounded-md"
        >
          <div class="bg-slate-200 w-fit h-fit rounded-full">
            <img
              src="../../../../../assets/images/student.png"
              class="w-[40px] h-[40px] rounded-full"
              alt=""
            />
          </div>
          <div class="">
            <div class="font-semibold text-sm">Shiela Mae Narido</div>
            <p class="text-[12px]">dev.christianparanas@gmail.com</p>
          </div>
        </div>

        <div
          class="grid grid-cols-[40px_1fr] gap-2 items-center p-2 px-3 rounded-md"
        >
          <div class="bg-slate-200 w-fit h-fit rounded-full">
            <img
              src="../../../../../assets/images/student.png"
              class="w-[40px] h-[40px] rounded-full"
              alt=""
            />
          </div>
          <div class="">
            <div class="font-semibold text-sm">Luigi Loreno</div>
            <p class="text-[12px]">dev.christianparanas@gmail.com</p>
          </div>
        </div>

        <div
          class="grid grid-cols-[40px_1fr] gap-2 items-center p-2 px-3 rounded-md"
        >
          <div class="bg-slate-200 w-fit h-fit rounded-full">
            <img
              src="../../../../../assets/images/student.png"
              class="w-[40px] h-[40px] rounded-full"
              alt=""
            />
          </div>
          <div class="">
            <div class="font-semibold text-sm">Christian Paranas</div>
            <p class="text-[12px]">dev.christianparanas@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
