<div class="">
  <div class="p-5 lg:p-0 max-w-[1200px] mx-auto">
    <div
      class="flex items-center text-slate-800 my-10 cursor-pointer hover:text-red-400 transition-all w-fit"
      (click)="goBack()"
    >
      <i class="fal fa-arrow-left mr-2"></i>
      <h2>Return</h2>
    </div>

    <div class="relative">
      <img
        src="../../../../../assets/images/background.jpg"
        alt=""
        class="h-[300px] object-cover w-full rounded-2xl"
      />

      <div
        class="flex items-center md:justify-between p-5 px-8 pt-0 relative -top-16"
      >
        <div class="md:flex relative w-fit mx-auto md:mx-0">
          <img
            src="https://avatars.githubusercontent.com/u/59472122?v=4"
            alt=""
            class="w-[200px] h-[200px] rounded-full mr-4"
          />
          <div class="mt-5 lg:mt-20 mx-auto text-center md:text-start">
            <h1 class="font-semibold text-2xl">Christian Paranas</h1>
            <p>Student</p>
          </div>
        </div>

<div class=""></div>
      </div>

      <div class="mb-20">
        <h2>Information</h2>

        <div class="w-fit mt-3 border rounded-lg p-3 grid gap-2 text-sm">
          <div class="">Student ID number: 2018-02022</div>
          <div class="">Email: christian.paranas@evsu.edu.ph</div>
          <div class="">
            Course: Bachelor of Science in Information Technology
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
