<div class="relative z-40 mt-20 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-white">Manage Users</h1>
    <p class="text-slate-100 text-[12px]">End-Users</p>
  </div>

  <div class="mt-10 pb-10">
    <p-tabMenu
      #tab
      [model]="tabItems"
      [activeItem]="activeItem"
      (click)="changeTab(tab)"
    ></p-tabMenu>

    <div class="w-full">
      <app-student-tab *ngIf="activeItem.label == 'Student'"></app-student-tab>
      <app-faculty-tab *ngIf="activeItem.label == 'Faculty'"></app-faculty-tab>
      <app-admin-tab *ngIf="activeItem.label == 'Admin'"></app-admin-tab>
    </div>
  </div>
</div>
