<div class="">
  <div class="">
    <div
      class="lg:hidden flex justify-between items-center px-5 py-3 fixed w-full"
      [ngClass]="{ 'bg-white shadow-md': onScroll }"
    >
      <div class="flex items-center">
        <img
          src="../../../../../assets/logo/evsu_logo_3.png"
          alt=""
          class="w-[30px] mr-2"
        />
        <h1 class="font-semibold">Election</h1>
      </div>

      <div class="flex items-center">
        <div class="mr-3">
          <img
            src="https://avatars.githubusercontent.com/u/59472122?v=4"
            alt=""
            class="w-[35px] object-cover rounded-full"
          />
        </div>
        <div class="p-2 cursor-pointer" (click)="openCloseNavOverlay()">
          <i class="fal fa-bars text-[20px]"></i>
        </div>
      </div>
    </div>

    <div
      class="md:hidden transition-all"
      [ngClass]="isNavOpen ? 'block' : 'hidden'"
    >
      <div
        class="bg-gray-600 opacity-20 w-full h-full fixed top-0"
        (click)="openCloseNavOverlay()"
      ></div>

      <div class="w-[300px] bg-white h-full fixed top-0 right-0 p-5">
        <div class="flex items-center justify-between">
          <div class=""></div>
          <i
            class="fal fa-times text-[20px] cursor-pointer px-3"
            (click)="openCloseNavOverlay()"
          ></i>
        </div>

        <div class="grid gap-1 mt-6">
          <div
            *ngFor="let route of routesArr"
            class="hover:bg-red-400/80 hover:text-white py-2 px-2 hover:px-3 transition-all rounded-md cursor-pointer"
            [routerLink]="'/admin/' + route.route"
            (click)="getCurrentRouteURL(route.route)"
            [ngClass]="
              currentRoute == route.route
                ? 'bg-red-400 hover:bg-red-400 text-white py-2 px-3'
                : ''
            "
          >
            <i [class]="route.icon"></i> {{ route.title }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden lg:block fixed w-full bg-white border-b border-gray-200">
    <div class="flex justify-between items-center p-2 px-5">
      <div class="flex items-center">
        <img
          src="../../../../../assets/logo/evsu_logo_3.png"
          alt=""
          class="w-[30px] mr-2"
        />
        <h1 class="font-semibold">Election</h1>
      </div>

      <div
        class="grid grid-cols-[40px_1fr] gap-1 items-center place-items-center"
      >
        <div
          class="hover:bg-gray-200 cursor-pointer transition-all px-2 py-1 rounded-xl"
        >
          <i class="fad fa-bell text-[23px]"></i>
        </div>
        <div
          class="flex items-center hover:bg-gray-200 py-1 px-3 rounded-xl cursor-pointer transition-all"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
            alt=""
            class="w-[30px] h-[30px] object-cover rounded-full mr-2"
          />
          <div class="">
            <h2 class="font-semibold text-slate-800">Christian Paranas</h2>
            <p class="text-[12px] text-slate-700">Administrator</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
