<div
  class="bg-white min-h-fit h-screen p-6 border-r border-gray-200 hidden lg:block"
>
  <div class="grid gap-1 mt-20">
    <div
      *ngFor="let route of routesArr"
      (click)="getCurrentRouteURL(route.route)"
      class="hover:bg-red-400/80 hover:text-white py-2 hover:px-3 transition-all rounded-md cursor-pointer"
      [routerLink]="'/faculty/' + route.route"
      [ngClass]="
        currentRoute == route.route
          ? 'bg-red-400 hover:bg-red-400 text-white py-2 px-3'
          : 'px-2'
      "
    >
      <i [class]="route.icon"></i> {{ route.title }}
    </div>
  </div>
</div>
