<div class="relative z-40 mt-20 pb-20">
  <h1 class="font-bold text-xl md:text-3xl text-white">Feedbacks</h1>

  <div class="mt-20 pb-10">
    <div class="text-sm w-full relative mt-10 grid gap-20">
      <div class="" *ngIf="needReviewFeedbacks.length != 0">
        <h1 class="font-bold text-lg text-slate-900 mb-3">Pending Feedbacks</h1>

        <div class="" *ngIf="needReviewFeedbacks.length != 0">
          <p-table
            [value]="needReviewFeedbacks"
            #dt1
            dataKey="id"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]"
            styleClass="p-datatable-gridlines"
            [globalFilterFields]="[
              'id',
              'User.name',
              'rating',
              'message',
              'reviewStatus',
              'createdAt'
            ]"
          >
            >
            <ng-template pTemplate="caption">
              <div class="flex">
                <div class=""></div>
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    #textInput
                    (input)="dt1.filterGlobal(textInput.value, 'contains')"
                    placeholder="Search keyword"
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr class="text-sm">
                <th field="id">ID</th>
                <th field="User.name">Author name</th>
                <th field="rating">Rating</th>
                <th field="message">Message</th>
                <th field="reviewStatus">Review status</th>
                <th field="createdAt">Date submitted</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-feedback>
              <tr class="text-sm">
                <td>{{ feedback.id }}</td>
                <td>
                  {{ feedback.User.name }}
                </td>
                <td>{{ feedback.rating }}</td>
                <td>
                  {{ feedback.message }}
                </td>
                <td>
                  <div
                    class="bg-orange-200 text-orange-800 py-1 px-3 w-fit rounded-lg text-[12px] font-semibold capitalize"
                  >
                    {{ feedback.reviewStatus }}
                  </div>
                </td>
                <td class="text-sm">
                  {{ momentFormatLLL(feedback.createdAt) }}
                </td>
                <td class="flex gap-2">
                  <button
                    (click)="changeFeedbackStatus(feedback.id, 'reject')"
                    class="bg-red-200 hover:bg-red-300/80 transition-all text-red-800 py-1 px-3 w-fit rounded-lg text-[12px] font-semibold capitalize"
                  >
                    Reject
                  </button>
                  <button
                    (click)="changeFeedbackStatus(feedback.id, 'approve')"
                    class="bg-green-200 hover:bg-green-300/80 transition-all text-green-800 py-1 px-3 w-fit rounded-lg text-[12px] font-semibold capitalize"
                  >
                    Approve
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="" *ngIf="feedbacks">
        <h1 class="font-bold text-lg text-slate-900 mb-3">Feedbacks</h1>

        <div class="">
          <p-table
            [value]="feedbacks"
            #dt1
            dataKey="id"
            responsiveLayout="scroll"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]"
            styleClass="p-datatable-gridlines"
            [globalFilterFields]="[
              'id',
              'User.name',
              'rating',
              'message',
              'reviewStatus',
              'createdAt'
            ]"
          >
            >
            <ng-template pTemplate="caption">
              <div class="flex">
                <div class=""></div>
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    #textInput
                    (input)="dt1.filterGlobal(textInput.value, 'contains')"
                    placeholder="Search keyword"
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr class="text-sm">
                <th field="id">ID</th>
                <th field="User.name">Author name</th>
                <th field="rating">Rating</th>
                <th field="message">Message</th>
                <th field="reviewStatus">Review status</th>
                <th field="createdAt">Date submitted</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-feedback>
              <tr class="text-sm">
                <td>{{ feedback.id }}</td>
                <td>{{ feedback.User.name }}</td>
                <td>{{ feedback.rating }}</td>
                <td>
                  {{ feedback.message }}
                </td>
                <td>
                  <div
                    class="py-1 px-3 w-fit rounded-lg text-[12px] font-semibold capitalize"
                    [ngClass]="
                      feedback.reviewStatus == 'approved'
                        ? 'bg-green-200 text-green-900'
                        : 'bg-red-200 text-red-900'
                    "
                  >
                    {{ feedback.reviewStatus }}
                  </div>
                </td>
                <td>{{ momentFormatLLL(feedback.createdAt) }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
