<div class="relative z-40 mt-20 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-white">Logs</h1>
    <p class="text-slate-100 text-[12px]">Activity logs in the system</p>
  </div>

  <div class="mt-20">
    <p-timeline [value]="logs" align="left">
      <ng-template pTemplate="content" let-log>
        <div class="mb-1">
          <div class="text-[10px] md:text-[12px]">
            {{ dateFormat(log.createdAt) }}
          </div>
          <div class="text-[12px] md:text-sm">{{ log.description }}</div>
        </div>
      </ng-template>
    </p-timeline>
  </div>
</div>
