<div class="">
  <div class="p-5 max-w-[1200px] mx-auto pb-[200px]">
    <div
      class="flex w-[40px] h-[40px] rounded-full items-center justify-center bg-gray-200 text-slate-800 font-semibold my-10 cursor-pointer hover:bg-gray-300 transition-all"
      (click)="goBack()"
    >
      <i class="fal fa-arrow-left"></i>
    </div>

    <div
      *ngIf="election == null && isLoading"
      class="mt-20 grid place-items-center"
    >
      <div class="">
        <img
          src="../../../../../assets/images/empty-box.png"
          alt=""
          class="w-[150px] h-[150px] object-cover mx-auto"
        />
        <div class="mt-5 text-[12px]">Oopss. There's nothing here.</div>
      </div>
    </div>

    <div
      *ngIf="election != null && isLoading"
      class="mt-20 grid place-items-center"
    >
      <div class="">
        <img
          src="../../../../../assets/images/dashvote.png"
          alt=""
          class="w-[120px] h-[120px] object-cover mx-auto"
        />
        <div class="mt-5 text-[12px] text-center">Loading....</div>
      </div>
    </div>

    <div *ngIf="election != null && !isLoading" class="">
      <div class="">
        <img
          src="../../../../../assets/images/propaganda.png"
          alt=""
          class="w-[200px] h-[200px]"
        />

        <h1 class="font-semibold text-4xl text-slate-800 mt-10">
          {{ election.title }}
        </h1>
        <div class="text-slate-700">- {{ election.description }}</div>

        <div class="mt-10">
          <div class="grid lg:grid-cols-2 gap-5 items-start">
            <div class="grid gap-3">
              <div class="grid gap-3">
                <div class="grid gap-2" *ngIf="election.hasCampaign">
                  <div class="text-sm font-semibold">Campaign Period</div>

                  <div
                    class="flex gap-2 items-center text-[12px] bg-gray-100 w-fit py-2 px-2 rounded-md"
                  >
                    <div class="">
                      <div class="">Start</div>
                      <div
                        class="bg-slate-700 font-semibold text-white px-2 py-1 rounded-md"
                      >
                        {{ dateFormat(election.campaignperiod_startdate) }}
                      </div>
                    </div>
                    <div class="">
                      <div class="">End</div>
                      <div
                        class="bg-slate-700 font-semibold text-white px-2 py-1 rounded-md"
                      >
                        {{ dateFormat(election.campaignperiod_enddate) }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="grid gap-2">
                  <div class="text-sm font-semibold">Election Period</div>
                  <div
                    class="flex gap-2 items-center text-[12px] bg-gray-100 w-fit py-2 px-2 rounded-md"
                  >
                    <div class="">
                      <div class="">Start</div>
                      <div
                        class="bg-slate-700 font-semibold text-white px-2 py-1 rounded-md"
                      >
                        {{ dateFormat(election.election_startdate) }}
                      </div>
                    </div>
                    <div class="">
                      <div class="">End</div>
                      <div
                        class="bg-slate-700 font-semibold text-white px-2 py-1 rounded-md"
                      >
                        {{ dateFormat(election.election_enddate) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="">
                <h2 class="text-sm font-semibold">Restrictions</h2>

                <div class="bg-slate-50 p-1 w-fit rounded-md">
                  <table class="border border-gray-300">
                    <tr>
                      <td class="border border-gray-300 p-1 px-2 text-sm">
                        Course:
                      </td>
                      <td class="border border-gray-300 p-1 px-2 text-sm">
                        {{
                          election.course == 0
                            ? "All Courses"
                            : getCourse(1, election.course)
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td class="border border-gray-300 p-1 px-2 text-sm">
                        Section:
                      </td>
                      <td class="border border-gray-300 p-1 px-2 text-sm">
                        {{
                          election.section == 0
                            ? "All Sections"
                            : election.section
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td class="border border-gray-300 p-1 px-2 text-sm">
                        Year:
                      </td>
                      <td class="border border-gray-300 p-1 px-2 text-sm">
                        {{
                          election.year == 0 ? "All Year Levels" : election.year
                        }}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="grid lg:grid-cols-2">
              <div class=""></div>
              <div class="grid grid-cols-2 gap-3">
                <div class="">
                  <p class="text-[12px] ml-2">Phase</p>
                  <div
                    class="text-[12px] bg-gray-100 text-gray-800 font-semibold px-2 py-2 rounded-full capitalize w-full text-center"
                  >
                    <div class="" *ngIf="election.stage == 'initial'">
                      Initial
                    </div>
                    <div class="" *ngIf="election.stage == 'campaign_started'">
                      Campaign is Ongoing
                    </div>
                    <div class="" *ngIf="election.stage == 'campaign_ended'">
                      Campaign Ended
                    </div>
                    <div class="" *ngIf="election.stage == 'election_started'">
                      Election is Ongoing
                    </div>
                    <div class="" *ngIf="election.stage == 'election_ended'">
                      Election Ended
                    </div>
                  </div>
                </div>
                <div class="">
                  <p class="text-[12px] ml-2">Status</p>
                  <div
                    *ngIf="election.status == 'draft'"
                    class="text-[12px] bg-slate-200 text-slate-800 font-semibold px-2 py-2 rounded-full capitalize text-center"
                  >
                    {{ election.status }}
                  </div>
                  <div
                    *ngIf="election.status == 'active'"
                    class="text-[12px] bg-green-200 text-green-800 font-semibold px-2 py-2 rounded-full capitalize text-center"
                  >
                    {{ election.status }}
                  </div>
                  <div
                    *ngIf="election.status == 'inactive'"
                    class="text-[12px] bg-red-200 text-red-800 font-semibold px-2 py-2 rounded-full capitalize text-center"
                  >
                    {{ election.status }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-5">
            <h2 class="text-sm font-semibold">Created by:</h2>
            <div
              [routerLink]="['/admin/peer']"
              [queryParams]="{ id: election.UserId }"
              class="grid grid-cols-[40px_1fr] gap-2 items-center w-fit border border-gray-200 py-1 px-2 rounded-md hover:bg-slate-100 cursor-pointer transition-all"
            >
              <div
                class="w-fit h-fit rounded-full border border-gray-200 p-[2px]"
              >
                <img
                  src="../../../../../assets/images/admin.png"
                  alt=""
                  class="w-[35px] h-[35px] object-cover rounded-full"
                />
              </div>

              <div class="">
                <div class="text-sm font-semibold capitalize">
                  {{ election.User.name }}
                </div>
                <div class="text-[10px] flex items-center">
                  <div
                    *ngFor="let role of election.User.UserRoles"
                    class="bg-green-200 text-green-800 font-semibold px-2 gap-1 py-[2px] rounded-md mr-1"
                  >
                    {{ role.Role.title }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="my-10" />

          <div class="">
            <div class="mt-10">
              <div class="" *ngIf="election.status != 'draft'">
                <div class="mb-5 flex items-center justify-between">
                  <h1 class="font-semibold">Election Result</h1>
                  <div class="flex items-center">
                    <div
                      *ngIf="election.stage == 'election_ended'"
                      (click)="winnersModal = true"
                      class="mr-2 border border-gray-200 py-1 px-2 rounded-md w-fit text-sm font-semibold cursor-pointer hover:bg-slate-100 transition-all"
                    >
                      <i class="fal fa-eye mr-2"></i>View Winners
                    </div>
                    <div
                      (click)="votersModal = true"
                      class="border border-gray-200 py-1 px-2 rounded-md w-fit text-sm font-semibold cursor-pointer hover:bg-slate-100 transition-all"
                    >
                      <i class="fal fa-vote-yea mr-1 text-[12px]"></i> View
                      Voters
                    </div>
                  </div>
                </div>

                <div class="grid lg:grid-cols-2 gap-4">
                  <div
                    *ngFor="let position of election.ElectionPositions"
                    class=""
                  >
                    <div
                      class="border border-gray-200 rounded-lg p-3"
                      *ngIf="position.ElectionCandidates.length != 0"
                    >
                      <div class="mb-4">
                        <div class="flex items-center justify-between">
                          <div class="font-semibold">{{ position.title }}</div>
                          <div class="">
                            <div
                              *ngIf="election.hasCampaign"
                              (click)="getPrediction(position)"
                              class="text-sm font-semibold bg-slate-100 py-1 px-2 rounded-md cursor-pointer hover:bg-slate-200 transition-all"
                            >
                              <i class="fal fa-vote-yea mr-1 text-[12px]"></i>
                              Prediction
                            </div>
                          </div>
                        </div>
                        <div class="text-sm">
                          Slot(s)
                          {{ position.allowedCourse != 0 ? "per course" : "" }}:
                          {{ position.no_of_winners }}
                        </div>
                      </div>

                      <div
                        *ngIf="position.allowedCourse != 0"
                        class="grid gap-4"
                      >
                        <div
                          *ngFor="
                            let course of byCourseArr(
                              position.ElectionCandidates
                            )
                          "
                          class=""
                        >
                          <div class="font-semibold text-[12px]">
                            {{ getCourse(2, course.course) }}
                          </div>

                          <div class="grid gap-2 pl-1 mt-1">
                            <div
                              *ngFor="let candidate of course.candidates"
                              class="relative flex items-center justify-between rounded-md p-1 px-3 cursor-pointer hover:bg-slate-100 transition-all border border-gray-200"
                            >
                              <div
                                class="grid grid-cols-[40px_1fr] gap-2 items-center"
                              >
                                <div
                                  class="w-[40px] h-[40px] rounded-full border border-gray-200"
                                >
                                  <img
                                    [src]="
                                      candidate.User.image == null
                                        ? '../../../../../assets/images/student.png'
                                        : candidate.User.image
                                    "
                                    alt=""
                                    class="w-[40px] h-[40px] rounded-full object-cover"
                                  />
                                </div>
                                <div class="">
                                  <h1
                                    class="font-semibold text-sm text-slate-800 capitalize"
                                  >
                                    {{ candidate.User.name }}
                                  </h1>
                                  <div class="flex items-center">
                                    <p
                                      class="text-[12px] mr-1 bg-slate-100 border border-slate-200 rounded-md font-semibold px-1 w-fit capitalize"
                                    >
                                      {{
                                        candidate.Partylist == null
                                          ? "Indendent"
                                          : candidate.Partylist.title
                                      }}
                                    </p>
                                    <p class="text-[12px]">
                                      {{
                                        candidate.User.StudentCredential.Course
                                          .acronym
                                      }}
                                      {{ candidate.User.StudentCredential.year
                                      }}{{
                                        candidate.User.StudentCredential.section
                                      }}
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="text-[12px] font-semibold">
                                {{
                                  candidate.ElectionVotes.length == 0
                                    ? "0"
                                    : candidate.ElectionVotes.length
                                }}
                                {{
                                  candidate.ElectionVotes.length > 1
                                    ? "votes"
                                    : "vote"
                                }}
                              </div>

                              <img
                                *ngIf="
                                  election.stage == 'election_ended' &&
                                  checkResult(candidate) == 'winner'
                                "
                                src="../../../../../assets/images/medal.png"
                                alt=""
                                class="w-[25px] h-[25px] absolute right-0 -top-2"
                              />

                              <div
                                *ngIf="
                                  election.stage == 'election_ended' &&
                                  checkResult(candidate) == 'draw'
                                "
                                class="bg-slate-100 px-2 font-semibold rounded-md text-[11px] absolute right-0 -top-1"
                              >
                                Draw
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        *ngIf="position.allowedCourse == 0"
                        class="grid gap-2"
                      >
                        <div
                          *ngFor="let candidate of position.ElectionCandidates"
                          class="relative flex items-center justify-between rounded-md p-1 px-3 cursor-pointer hover:bg-slate-100 transition-all border border-gray-200"
                        >
                          <div
                            class="grid grid-cols-[40px_1fr] gap-2 items-center"
                          >
                            <div
                              class="w-[40px] h-[40px] rounded-full border border-gray-200"
                            >
                              <img
                                [src]="
                                  candidate.User.image == null
                                    ? '../../../../../assets/images/student.png'
                                    : candidate.User.image
                                "
                                alt=""
                                class="w-[40px] h-[40px] rounded-full object-cover"
                              />
                            </div>
                            <div class="">
                              <h1
                                class="font-semibold text-sm text-slate-800 capitalize"
                              >
                                {{ candidate.User.name }}
                              </h1>
                              <div class="flex items-center">
                                <p
                                  class="text-[12px] mr-1 bg-slate-100 border border-slate-200 rounded-md font-semibold px-1 w-fit capitalize"
                                >
                                  {{
                                    candidate.Partylist == null
                                      ? "Indendent"
                                      : candidate.Partylist.title
                                  }}
                                </p>
                                <p class="text-[12px]">
                                  {{
                                    candidate.User.StudentCredential.Course
                                      .acronym
                                  }}
                                  {{ candidate.User.StudentCredential.year
                                  }}{{
                                    candidate.User.StudentCredential.section
                                  }}
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="text-[12px] font-semibold">
                            {{
                              candidate.ElectionVotes.length == 0
                                ? "0"
                                : candidate.ElectionVotes.length
                            }}
                            {{
                              candidate.ElectionVotes.length > 1
                                ? "votes"
                                : "vote"
                            }}
                          </div>

                          <img
                            *ngIf="
                              election.stage == 'election_ended' &&
                              checkResult(candidate) == 'winner'
                            "
                            src="../../../../../assets/images/medal.png"
                            alt=""
                            class="w-[25px] h-[25px] absolute right-0 -top-2"
                          />

                          <div
                            *ngIf="
                              election.stage == 'election_ended' &&
                              checkResult(candidate) == 'draw'
                            "
                            class="bg-slate-100 px-2 font-semibold rounded-md text-[11px] absolute right-0 -top-1"
                          >
                            Draw
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative z-50">
  <p-dialog
    header="Prediction"
    [(visible)]="predictionModal"
    [modal]="true"
    [style]="{ maxWidth: '400px', width: '400px' }"
  >
    <div class="mt-3">
      <div class="">
        <h1 class="text-md font-semibold mb-2">{{ positionTitle }}</h1>
        <div
          *ngIf="isPredictionAvailable && hasSentiments && !chartLoading"
          class="p-2 rounded-md bg-slate-50 h-[210px]"
        >
          <p-chart
            type="bar"
            [data]="chartData"
            [options]="chartOptions"
          ></p-chart>
        </div>

        <div *ngIf="chartLoading" class="grid place-items-center h-[210px]">
          Loading..
        </div>

        <div
          *ngIf="!isPredictionAvailable"
          class="grid place-items-center h-[210px]"
        >
          <div class="">
            <img
              src="../../../../../assets/images/empty-box.png"
              alt=""
              class="w-[80px] h-[80px] object-cover mx-auto"
            />
            <div class="text-[12px] mt-4">
              Prediction will be available after the campaign period.
            </div>
          </div>
        </div>

        <div
          *ngIf="isPredictionAvailable && !hasSentiments && !chartLoading"
          class="grid place-items-center h-[210px]"
        >
          <div class="">
            <img
              src="../../../../../assets/images/empty-box.png"
              alt=""
              class="w-[80px] h-[80px] object-cover mx-auto"
            />
            <div class="text-[12px] mt-4">No available data.</div>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<div class="relative z-50">
  <p-dialog
    header="Voters"
    [(visible)]="votersModal"
    [modal]="true"
    [style]="{ maxWidth: '400px', width: '400px' }"
  >
    <div class="" *ngIf="election">
      <div class="mt-3" *ngIf="election">
        <div class=""></div>

        <div class="grid gap-2">
          <div
            *ngFor="let voter of election.ElectionVoters"
            class="border border-gray-200 p-2 rounded-lg grid grid-cols-[40px_1fr] items-center gap-2 cursor-pointer hover:bg-gray-100 transition-all"
          >
            <div class="w-[40px] h-[40px] rounded-full border border-gray-200">
              <img
                [src]="
                  voter.User.image == null
                    ? '../../../../../assets/images/student.png'
                    : voter.User.image
                "
                alt=""
                class="w-[40px] h-[40px] rounded-full object-cover"
              />
            </div>
            <div class="">
              <h1 class="font-semibold text-slate-800 capitalize">
                {{ voter.User.name }}
              </h1>
              <p class="text-[12px]">
                {{ voter.User.StudentCredential.Course.title }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="h-[300px] grid place-items-center"
        *ngIf="election && election.ElectionVoters.length == 0"
      >
        <div class="">
          <img
            src="../../../../../assets/images/empty-box.png"
            alt=""
            class="w-[100px] h-[100px] object-cover"
          />
          <p>No voters yet.</p>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<div class="relative z-50">
  <p-dialog
    header="Vote Receipt"
    [(visible)]="voteReceiptModal"
    [modal]="true"
    [style]="{ maxWidth: '400px', width: '400px' }"
  >
    <div class="" *ngIf="receipt.length != 0">
      <div class="grid gap-3">
        <div
          *ngFor="let position of receipt.Election.ElectionPositions"
          class=""
        >
          <div *ngIf="position.ElectionCandidates != 0" class="">
            <div class="mb-1">
              <h2 class="font-semibold text-slate-900">{{ position.title }}</h2>
            </div>

            <div class="bg-slate-50 grid h-fit p-2 rounded-md">
              <div
                *ngFor="let candidate of position.ElectionCandidates"
                class=""
              >
                <div
                  *ngIf="candidate.ElectionVotes.length != 0"
                  class="p-2 mb-1 bg-white rounded-md shadow-sm border boder-gray-100"
                >
                  <div class="grid grid-cols-[40px_1fr] gap-2">
                    <div
                      class="border border-gray-200 w-[40px] h-[40px] rounded-full"
                    >
                      <img
                        [src]="
                          candidate.User.image == null
                            ? '../../../../../assets/images/student.png'
                            : candidate.User.image
                        "
                        alt=""
                        class="w-[40px] h-[40px] rounded-full object-cover"
                      />
                    </div>
                    <div class="">
                      <h4 class="font-semibold text-sm">
                        {{ candidate.User.name }}
                      </h4>
                      <p class="text-[11px]">
                        {{ candidate.User.StudentCredential.Course.acronym }}
                        {{ candidate.User.StudentCredential.year
                        }}{{ candidate.User.StudentCredential.section }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 mt-2 gap-2">
        <button
          [routerLink]="['/admin/user']"
          [queryParams]="{ id: receipt.UserId }"
          class="bg-red-800 text-white font-semibold w-full rounded-md py-2 text-sm mt-2 hover:bg-red-900 transition-all"
        >
          Profile
        </button>
        <button
          class="bg-red-800 text-white font-semibold w-full rounded-md py-2 text-sm mt-2 hover:bg-red-900 transition-all"
        >
          <i class="fal fa-download"></i> Download
        </button>
      </div>
    </div>
  </p-dialog>
</div>

<div class="relative z-50">
  <p-dialog
    header="Winners"
    [(visible)]="winnersModal"
    [modal]="true"
    [style]="{ maxWidth: '400px', width: '400px' }"
  >
    <div class="">
      <div class="flex items-center justify-between mb-2">
        <div class=""></div>
        <div
          (click)="downloadPdf()"
          class="items-center bg-slate-50 w-fit p-1 flex cursor-pointer hover:bg-slate-100 transition-all rounded-md font-semibold text-slate-800 border border-slate-200"
        >
          <i class="fad fa-download mr-1"></i>
          <span class="text-[12px]">Download</span>
        </div>
      </div>

      <div class="grid gap-4">
        <div *ngFor="let position of electionResult" class="">
          <div
            class="font-semibold text-md text-slate-800 border-b border-slate-200 py-[2px] w-full"
          >
            {{ position.title }}
          </div>

          <div *ngIf="position.allowed != 0" class="grid gap-3 mt-2">
            <div *ngFor="let winner of position.results" class="">
              <div class="font-semibold text-[12px]">{{ getCourse(2, winner.course) }}</div>

              <div *ngFor="let win of winner.candidates" class="grid gap-1 mt-1 pl-1">
                <div *ngIf="win.result == 'winner'" class="text-[12px] capitalize">
                  - {{ win.User.name }}
                </div>
              </div>
            </div>
          </div>



          <div *ngIf="position.allowed == 0" class="grid gap-1 mt-2">
            <div *ngFor="let winner of position.results" class="">
              <div *ngIf="winner.result == 'winner'" class="text-[12px] capitalize">
                - {{ winner.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<div class="fixed -right-[2000px]" [id]="election.id">
  <div class="p-8 w-[800px]">
    <div class="">
      <div class="flex justify-between items-center">
        <img
          src="../../../../../assets/logo/evsu_logo_3.png"
          alt=""
          class="w-[100px] h-[100px] object-cover"
        />
        <h1 class="font-semibold">
          EVSU Elections <span class="text-slate-500">- Winners</span>
        </h1>
        <div class=""></div>
      </div>

      <div class="mt-6">
        <div class="">
          <div class="">
            <h1 class="text-4xl font-semibold mb-2">
              {{ election.title }}
            </h1>
            <p class="text-sm">{{ election.description }}</p>
          </div>

          <div class="mt-8">
            <h2 class="text-sm mb-3">Restrictions</h2>

            <div class="">
              <table class="border border-gray-300">
                <tr>
                  <td class="border border-gray-300 pb-3 px-2 text-sm">
                    Course:
                  </td>
                  <td class="border border-gray-300 pb-3 px-2 text-sm">
                    {{
                      election.course == 0
                        ? "All Courses"
                        : getCourse(1, election.course)
                    }}
                  </td>
                </tr>
                <tr>
                  <td class="border border-gray-300 pb-3 px-2 text-sm">
                    Section:
                  </td>
                  <td class="border border-gray-300 pb-3 px-2 text-sm">
                    {{
                      election.section == 0 ? "All Sections" : election.section
                    }}
                  </td>
                </tr>
                <tr>
                  <td class="border border-gray-300 pb-3 px-2 text-sm">
                    Year:
                  </td>
                  <td class="border border-gray-300 pb-3 px-2 text-sm">
                    {{ election.year == 0 ? "All Year Levels" : election.year }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <hr class="my-5" />

        <div class="mt-5">
          <h1 class="font-semibold mb-8 text-base">Winners</h1>

          <div class="grid gap-4">
            <div *ngFor="let position of electionResult" class="">
              <div
                class="font-semibold text-md text-slate-800 border-b border-slate-200 py-[2px] w-full"
              >
                {{ position.title }}
              </div>
    
              <div *ngIf="position.allowed != 0" class="grid gap-3 mt-2">
                <div *ngFor="let winner of position.results" class="">
                  <div class="font-semibold text-[12px]">{{ getCourse(2, winner.course) }}</div>
    
                  <div *ngFor="let win of winner.candidates" class="grid gap-1 mt-1 pl-1">
                    <div *ngIf="win.result == 'winner'" class="text-[12px] capitalize">
                      - {{ win.User.name }}
                    </div>
                  </div>
                </div>
              </div>
    
    
    
              <div *ngIf="position.allowed == 0" class="grid gap-1 mt-2">
                <div *ngFor="let winner of position.results" class="">
                  <div *ngIf="winner.result == 'winner'" class="text-[12px] capitalize">
                    - {{ winner.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
