<div class="">
  <div class="" *ngIf="!isCaptured">
    <div class="min-h-fit bg-slate-50">
      <webcam
        [height]="500"
        [width]="500"
        [trigger]="triggerObservable"
        (imageCapture)="handleImage($event)"
        *ngIf="showWebcam"
        [allowCameraSwitch]="allowCameraSwitch"
        [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions"
        [imageQuality]="1"
        (initError)="handleInitError($event)"
      ></webcam>
    </div>

    <div class="">
      <div class="flex justify-between items-center my-5">
        <div class=""></div>
        <div class="flex items-center">
          <h1 class="text-sm mr-3">Mode:</h1>

          <select
            name="facingMode"
            [(ngModel)]="facingMode"
            class="w-full bg-slate-50 text-sm py-1 px-2 rounded-md shadow-md cursor-pointer outline-none"
          >
            <option value="user">Front Camera</option>
            <option value="environment">Rear Camera</option>
          </select>
        </div>
      </div>

      <button
        class="actionBtn"
        (click)="triggerSnapshot()"
        class="bg-red-500 text-white font-semibold py-2 text-center text-sm rounded-md shadow-sm w-full hover:bg-red-500/80 transition-all cursor-pointer"
      >
        Capture
      </button>
    </div>
  </div>


  <div class="" *ngIf="isCaptured">
    <div class="h-fit bg-slate-50">
      <img [src]="webcamImage.imageAsDataUrl" class="object-cover rounded-md" />
    </div>

    <div class="grid grid-cols-2 gap-2 mt-5">
      <button class="bg-red-500 text-white font-semibold text-center hover:bg-red-500/80 transition-all py-2 rounded-lg" (click)="retryCapture()">Retry</button>
      <button class="bg-red-500 text-white font-semibold text-center hover:bg-red-500/80 transition-all py-2 rounded-lg">Confirm</button>
    </div>
  </div>
</div>

