<div class="relative min-h-fit h-screen md:overflow-hidden pt-2 md:pt-12">
  <img
    src="../../../../assets/logo/evsu_logo_3.png"
    alt=""
    class="hidden md:block absolute -bottom-40 -left-20 opacity-20"
  />

  <div class="">
    <div class="max-w-7xl mx-auto grid lg:grid-cols-[1fr_400px] py-4">
      <div class="hidden lg:block">
        <div class="bg-slate-800 p-4 rounded-md w-fit pr-6 min-h-[96px]">
          <img
            src="../../../../assets/logo/evsu_logo.png"
            alt="EVSU Logo"
            class="w-[320px]"
          />
        </div>

        <div class="mt-14">
          <h1 class="font-black text-5xl">
            Eastern Visayas State University
            <div class="">
              <span class="text-red-500">Elections</span> System
            </div>
          </h1>
        </div>
      </div>

      <div class="p-6 pt-0">
        <div
          class="absolute top-0 left-0 w-full md:hidden mb-10 z-50 bg-slate-800 py-4"
        >
          <div class="text-center flex items-center w-fit mx-auto">
            <img
              src="../../../../assets/logo/evsu_logo_3.png"
              alt="EVSU Logo"
              class="w-[35px] mr-2"
            />
            <h1 class="font-black text-2xl text-slate-50">
              EVSU Election <span class="text-red-500">System</span>
            </h1>
          </div>
        </div>

        <div class="mb-4 mt-[100px] md:mt-4">
          <h1 class="font-bold text-2xl text-slate-800">Account Creation</h1>
          <p class="text-[14px] text-slate-700">Student</p>
        </div>

        <form
          (ngSubmit)="onSubmit()"
          [formGroup]="signupForm"
          class="grid gap-3"
        >
          <div class="grid gap-3" *ngIf="!isNextStep">
            <div class="mt-1 relative rounded-md shadow-sm">
              <input
                type="text"
                class="py-2 px-3 outline-none block w-full pr-12 sm:text-sm border-gray-300 bg-slate-50 rounded-md"
                placeholder="First name"
                formControlName="firstName"
              />
            </div>

            <div class="mt-1 relative rounded-md shadow-sm">
              <input
                type="text"
                class="py-2 px-3 outline-none block w-full pr-12 sm:text-sm border-gray-300 bg-slate-50 rounded-md"
                placeholder="Middle name"
                formControlName="middleName"
              />
            </div>

            <div class="mt-1 relative rounded-md shadow-sm">
              <input
                type="text"
                class="py-2 px-3 outline-none block w-full pr-12 sm:text-sm border-gray-300 bg-slate-50 rounded-md"
                placeholder="Last name"
                formControlName="lastName"
              />
            </div>

            <div class="mt-1 relative rounded-md shadow-sm">
              <input
                type="text"
                class="py-2 px-3 outline-none block w-full pr-12 sm:text-sm border-gray-300 bg-slate-50 rounded-md"
                placeholder="ID number"
                formControlName="studentID"
              />
            </div>

            <div class="mt-1 relative rounded-md shadow-sm">
              <select
                formControlName="course"
                class="py-2 px-3 outline-none block w-full pr-12 sm:text-sm border-gray-300 bg-slate-50 rounded-md cursor-pointer"
              >
                <option value="" selected disabled hidden class="">
                  Course
                </option>
                <option *ngFor="let course of courses" [value]="course.id">
                  {{ course.title }}
                </option>
              </select>
            </div>

            <div class="mt-1 relative rounded-md shadow-sm">
              <input
                type="email"
                class="py-2 px-3 outline-none block w-full pr-12 sm:text-sm border-gray-300 rounded-md bg-slate-50"
                placeholder="Email"
                formControlName="email"
              />
            </div>

            <div class="mt-1 relative rounded-md shadow-sm">
              <input
                type="password"
                name="password"
                class="py-2 px-3 outline-none block w-full pr-12 sm:text-sm border-gray-300 rounded-md bg-slate-50"
                placeholder="Password"
                formControlName="password"
              />
            </div>

            <button
              type="submit"
              class="bg-red-500 font-semibold rounded-md shadow-sm text-slate-50 py-2 hover:bg-red-500/80 transition-all text-center cursor-pointer"
            >
              Next
            </button>
          </div>

          <div class="" *ngIf="isNextStep">
            <h1 class="font-semibold">Attachments</h1>

            <div class="grid gap-3 mt-4">
              <div
                (click)="openCamera(1)"
                class="bg-slate-50 p-5 grid place-items-center rounded-md shadow-md cursor-pointer hover:bg-slate-100 transition-all border"
              >
                <img
                  src="../../../../assets/images/faculty.png"
                  alt=""
                  class="w-[50px] h-p[50px] object-cover"
                />
                <div class="text-center mt-3">
                  <h3 class="font-semibold">Documents</h3>
                  <p class="text-[12px]">
                    Student ID, COR or Free Education Form
                  </p>
                </div>

                <div class="text-red-500 text-[12px] text-center w-full mt-3" *ngIf="attachments.document">File attached</div>
              </div>

              <div
                (click)="openCamera(2)"
                class="bg-white p-5 grid place-items-center rounded-md shadow-md cursor-pointer hover:bg-slate-50 transition-all border"
              >
                <img
                  src="../../../../assets/images/faculty.png"
                  alt=""
                  class="w-[50px] h-p[50px] object-cover"
                />
                <div class="text-center mt-3">
                  <h3 class="font-semibold">Selfie with Documents</h3>
                </div>
                <div class="text-red-500 text-[12px] text-center w-full mt-3" *ngIf="attachments.selfie">File attached</div>
              </div>
            </div>

            <div class="grid grid-cols-[80px_1fr] gap-2 items-center">
              <div
                class="bg-slate-50 font-semibold rounded-md text-center border shadow-sm text-slate-800 py-2 hover:bg-slate-100 transition-all w-full mt-5 cursor-pointer"
                (click)="isNextStep = false"
              >
                Back
              </div>
              <button
                (click)="submitApplication()"
                [disabled]="submitLoading"
                class="grid place-items-center bg-red-500 font-semibold rounded-md shadow-sm text-slate-50 py-2 border-red-600 hover:bg-red-500/80 transition-all w-full mt-5"
              >
              

              <div class="flex items-center w-fit mx-autoo" *ngIf="submitLoading">
                <svg  class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>

                <span>Processing</span>
              </div>

                <span *ngIf="!submitLoading">Submit</span>
              </button>
            </div>
          </div>

          <div class="text-[14px] text-center">
            <p>
              Already have an account?
              <span class="text-red-500 cursor-pointer" routerLink="/login"
                >Login</span
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="absolute top-0 min-h-fit h-screen w-full z-50" *ngIf="isOpenCamera">
  <div
    class="absolute w-full h-full bg-slate-800/30"
    (click)="isOpenCamera = !isOpenCamera"
  ></div>

  <div
    class="w-full max-w-[400px] mx-auto bg-white relative z-20 p-5 rounded-lg mt-14"
  >
    <div class="flex justify-between items-center mb-3">
      <div class=""></div>
      <div
        class="bg-slate-50 px-2 cursor-pointer hover:bg-slate-100 transition-all"
        (click)="isOpenCamera = !isOpenCamera"
      >
        <i class="fal fa-times"></i>
      </div>
    </div>

    <div class="">
      <app-webcam (attachFileEvent)="attachFile($event)"></app-webcam>
    </div>
  </div>
</div>
